---
layout: "main.njk"
---

<article>
    <h1>{{ metaTitle }}</h1>
    <div>
        <span class="article-date">{{ date }}</span>
    </div>
        <div>{{ metaDescription }}</div>
    {{ content | toc | safe }}
    {{ content | safe }}
</article>